<!DOCTYPE html>
<html>
<head>
    {{!-- <link rel="stylesheet" type="text/css" href="../../materialize/css/reset.css"> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../../materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../materialize/css/style.css">
    {{!-- <link rel="stylesheet" type="text/css" href="../../public/styles/style.css"> --}}
    <title>Submit a New Recipe</title>
</head>
<body>
  {{{body}}}
</body>

</html>
