<!DOCTYPE html>
<html>
<head>
    <link href="/styles/reset.css" rel="stylesheet" type="text/css" >
    <link href="/styles/materialize.min.css" rel="stylesheet" type="text/css" media="screen,projection" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
    <link href="/styles/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css">


    <title>What's Cookin' Good Lookin'?</title>
</head>
<body id="create">

  {{{ body }}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>
</body>

</html>
