{{!-- <div id="create"> --}}
    <nav>
    <div class="nav-wrapper #0d47a1 blue darken-4">
      <a href="#!" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="login"><i class="material-icons">group</i></a></li>
        <li><a href="create"><i class="material-icons">local_dining</i></a></li>
        <li><a href="https://github.com/jcherven/project-2"><i class="material-icons">mail</i></a></li>
      </ul>
    </div>
  </nav>
    <div class="container">
        <div class="card">
            <div class="card-content">
                <p>Submit your favorite recipe below!</p>
            </div>
            <div class="card-content grey lighten-4">
                <div id="submit-recipe">
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field recipe-name col s6">
                                    <input id="recipe_title" type="text">
                                    <label for="recipe_title">Recipe Name (ex: "Mom's Cheesy Mashed Potatoes")</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field ingredients">
                                <textarea id="ingredients" class="materialize-textarea"></textarea>
                                <label for="ingredients">Enter the Ingredients & Measurements (yes, the secret
                                    ingredients too!)</label>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="input-field steps">
                                <textarea id="steps" class="materialize-textarea"></textarea>
                                <label for="steps">Enter the step-by-step instructions here. Don't forget things like
                                    oven temperature!</label>
                                    </div>
                            </div>
                            <div class="row">
                                <button class="btn waves-effect waves-light" type="submit" name="action">Submit your
                                    recipe!
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{!-- </div> --}}
