<nav>
    <div class="nav-wrapper #0d47a1 blue darken-4">
      <a href="index" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="login"><i class="material-icons">group</i></a></li>
        <li><a href="create"><i class="material-icons">local_dining</i></a></li>
        <li><a href="https://github.com/jcherven/project-2"><i class="material-icons">mail</i></a></li>
      </ul>
    </div>
  </nav>
<div class="container">
    <div class="card">
        <div class="card-content">
            <p>Use the links below to sign up or login!</p>
        </div>
        <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
                <li class="tab"><a href="#signup">Sign up</a></li>
                <li class="tab"><a href="#login">Login</a></li>
            </ul>
        </div>
        <div class="card-content grey lighten-4">
            <div id="signup">
                <h6>Create a New Account</h6>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input disabled id="user_name-new" type="text" class="validate">
                                <label for="user_name-new">Username</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input disabled id="password-new" type="password" class="validate">
                                <label for="password-new">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input disabled id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="login">
                <h6>Login</h6>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input disabled id="user_name-login" type="text" class="validate">
                                <label for="user_name-login">Username</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input disabled id="password-login" type="password" class="validate">
                                <label for="password-login">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Login
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/materialize.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<script>
    $(document).ready(function () {
        $('ul.tabs').tabs();
    });
</script>