 <nav>
    <div class="nav-wrapper #0d47a1 blue darken-4">
      <a href="index" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="login"><i class="material-icons">group</i></a></li>
        <li><a href="create"><i class="material-icons">local_dining</i></a></li>
        <li><a href="https://github.com/jcherven/project-2"><i class="material-icons">mail</i></a></li>
      </ul>
    </div>
  </nav>
    <div class="container">
        <div class="card">
            <div class="card-content">
                <p>Your search for <span id="search-term"></span> produced the following results:</p>
            </div>
            <div class="card-content grey lighten-4">
                <div id="search-results">
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>